{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Alumno</h1>
        <form action="{% url 'guardarAlumno' %}" method="post">
            {% csrf_token %}
            <label>Nombre</label><br>
            <input class="form-control" type="text" name="nombre" required><br>
            <label>Edad</label><br>
            <input class="form-control" type="number" name="edad" required><br>
            <label>Correo</label><br>
            <input class="form-control" type="email" name="correo" required><br>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'listarAlumnos' %}">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<!--Embeber coidgo javascript/jquery dentro del HTML-->
<script>
    $("#frm_nuevo_cargo").validate({
        rules:{
            "nombre":{
                required:true,
                minlength:5,//cuantos caracteres
                maxlength:20 //caracteres maximos
            },
            "edad":{
                required:true,
                number:true,
                min: 5, //sirve para validad cantidades numericas
                max:10
            },
            "correo":{
                required:true,
            },
        messages:{
            "nombre":{
                required:"Este campo de obligatorio",
                minlength: "Por favor ingrese 5 letras",
                maxlength:"Por favor menos de 5 letras",
            },
            
            })
{% endblock %}
