{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Alumno</h1>
        <form action="{% url 'guardarAlumno' %}" method="post">
            {% csrf_token %}
            <label>Nombre</label><br>
            <input class="form-control" type="text" name="nombre" required><br>
            <label>Edad</label><br>
            <input class="form-control" type="number" name="edad" required><br>
            <label>Correo</label><br>
            <input class="form-control" type="email" name="correo" required><br>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'listarAlumnos' %}">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
