{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Docente</h1>
        <form action="{% url 'guardarDocente' %}" method="post">
            {% csrf_token %}
            <label>Nombre</label><br>
            <input class="form-control" type="text" name="nombre" required><br>
            <label>Especialidad</label><br>
            <input class="form-control" type="text" name="especialidad" required><br>
            <label>Correo</label><br>
            <input class="form-control" type="email" name="correo" required><br>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'listarDocentes' %}">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<!--Embeber coidgo javascript/jquery dentro del HTML-->
<script>
    $("#frm_nuevo_cargo").validate({
        rules:{
            "nombre":{
                required:true,
                minlength:5,//cuantos caracteres
                maxlength:20 //caracteres maximos
            },
            "especialidad":{
                required:true
            },
            "correo":{
                required:true
            },
            messages:{
                "nombre":{
                    required:"Este campo es obligatorio",
                    minlength: "Por favor ingrese 5 letras",
                    maxlength:"Por favor menos de 5 letras",
                },
                "especialidad":{
                    required:"Este campo es obligatorio"
                },
                "correo":{
                    required:"Este campo es obligatorio"
                }   
            
        }    
    })        
{% endblock %}
